.registrationForm th {
	width: 150px;
	text-align:left;
	font-weight: normal;
	padding: 5px;
	margin: 0px;
	background: #EDEDED;
}

.registrationForm td {
	padding: 1px 0px 0px 10px;
}

.editDetails th {
	text-align: left;
	font-weight: normal;
	width: 150px;
}

.spacer {
  height: 10px;
}

h2 {
  font-weight: bold;
  border-bottom: 1px solid green;
  font-size: 15px;
}
